.superInput {
    border: 3px solid #25c525;
    background: #b2ffb2;
    border-radius: 5px;
}

.errorInput {
    border: 3px solid firebrick;
    background: orange;
    border-radius: 5px;
}

.error {
    color: orange;
}

input {
    padding: 5px;
    margin:5px;
}

input:focus{
    outline: none;
}
